<div fxLayout="row">
   <mat-form-field fxFlex="100" [formGroup]="form">
      <mat-label *ngIf="this.label">
         <mat-icon *ngIf="this.icon">{{ icon }}</mat-icon>
         <b>{{ label }}</b>
      </mat-label>
      <input [errorStateMatcher]="this.errorMatcher? this.errorMatcher.errorStateMatcher : null"
         [matDatepicker]="picker" matInput [formControlName]="name" id="{{name}}" name="{{name}}"
         placeholder="{{placeholder}}" [readonly]="readonly" [attr.disabled]="disabled ? '' : null">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="this.form.get(this.name).errors && (this.form.get(this.name).dirty ||
         this.form.get(this.name).touched)">
         <b>{{ objectValues(this.form.get(this.name).errors)[0] }}</b>
      </mat-error>
      <mat-error
         *ngIf="!this.form.get(this.name).errors && this.form.errors && this.errorMatcher && this.errorMatcher.errorNameMatcher  && (this.form.get(this.name).dirty || this.form.get(this.name).touched)">
         {{ this.form.errors[this.errorMatcher.errorNameMatcher]  }}
      </mat-error>
      <mat-hint *ngIf="this.hint">{{this.hint}}</mat-hint>
   </mat-form-field>
</div>
