<div fxLayout="row">
   <mat-form-field fxFlex="100" [formGroup]="form">
      <mat-label *ngIf="this.label">
         <mat-icon *ngIf="this.icon">{{ icon }}</mat-icon>
         <b>{{ label }}</b>
      </mat-label>
      <input
         matInput
         [formControlName]="name"
         id="{{ name }}"
         name="{{ name }}"
         type="number"
         placeholder="{{ placeholder }}"
         [readonly]="readonly"
         [attr.disabled]="disabled ? '' : null"
         min="{{ minValue }}"
         max="{{ maxValue }}"
      />
      <mat-error
         *ngIf="
            this.form.get(this.name).errors &&
            (this.form.get(this.name).dirty || this.form.get(this.name).touched)
         "
      >
         <b>
            {{ objectValues(this.form.get(this.name).errors)[0] }}
         </b>
      </mat-error>
   </mat-form-field>
</div>
