<div fxLayout="row wrap">
   <mat-toolbar fxLayoutAlign="space-between center" class="position-sticky mat-toolbar-rigth">
      <!-- <span fxFlexOffset="2" fxFlex="58">Administration Dashboard</span> -->
      <div><mat-icon class="text-primary">directions_boat</mat-icon></div>
      <span>Sistema de Buques</span>
      <div><mat-icon class="text-primary">directions_boat</mat-icon></div>
   </mat-toolbar>
   <!-- <ng-template #loadingProvisions> -->
   <!-- <div fxFlex="100" class="separator separator-center-left ">
      <span class="mx-2 text-secondary">
         Listado de atenciones
      </span>
   </div> -->
   <!-- <app-spinner fxFlex="100" fxLayoutAlign="center start"></app-spinner> -->
   <!-- </ng-template> -->
   <div fxFlex="100" fxLayoutAlign="center stretch" class="my-3">
      <mat-accordion fxFlex="80">
         <!--  -->
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <span class="text-primary-darker">
                     <b>1-</b> ¿Cuántos barcos llegaron a un determinado puerto?
                  </span>
               </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" class="mx-4">
               <form
                  [formGroup]="form1"
                  fxLayout="row"
                  fxLayoutAlign="space-around start"
                  (ngSubmit)="onForm1Submit()"
               >
                  <app-select-input
                     [name]="this.HARBOUR_ID"
                     [form]="form1"
                     [placeholder]="'Seleccione un puerto'"
                     [elements]="this.harbours"
                     [calculateId]="this.calculateId"
                     [calculateName]="this.calculateName"
                     fxFlex="80"
                  >
                  </app-select-input>
                  <button mat-raised-button type="submit" [disabled]="!this.form1.valid">
                     Buscar
                  </button>
               </form>
               <div
                  fxLayout="column"
                  *ngIf="!!this.response1 && !this.loadingResponse1; else loading1"
               >
                  <div fxFlex="100" class="separator separator-center mt-2 mb-1">
                     <span class="mx-2 text-secondary">
                        {{ this.response1[0].value.quantity }} Barcos en total
                     </span>
                  </div>
                  <div *ngFor="let ship of this.response1[0].value.ships">
                     <h4 class="text-primary-darker">
                        <mat-icon class="text-primary mr-1">directions_boat</mat-icon
                        >{{ ship | titlecase }}
                     </h4>
                  </div>
               </div>
            </div>
         </mat-expansion-panel>
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <span class="text-primary-darker">
                     <b>2-</b> Cantidad de barcos fuera de puertos
                  </span>
               </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
               <mat-label>First name</mat-label>
               <input matInput />
            </mat-form-field>

            <mat-form-field>
               <mat-label>Age</mat-label>
               <input matInput type="number" min="1" />
            </mat-form-field>
         </mat-expansion-panel>
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <span class="text-primary-darker">
                     <b>3-</b> ¿Cuántos barcos tuvieron una desviación de más del 10% en tiempo del
                     derrotero?
                  </span>
               </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
               <mat-label>First name</mat-label>
               <input matInput />
            </mat-form-field>

            <mat-form-field>
               <mat-label>Age</mat-label>
               <input matInput type="number" min="1" />
            </mat-form-field>
         </mat-expansion-panel>
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <span class="text-primary-darker">
                     <b>4-</b> ¿Qué barcos se saltearon un punto del derrotero?
                  </span>
               </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="column">
               <div fxLayoutAlign="center stretch">
                  <button mat-raised-button (click)="onSalteoDerrotero()">Buscar</button>
               </div>
               <div
                  fxFlex="100"
                  fxLayout="column"
                  *ngIf="shipsAvoidRunner.length > 0 && !this.loadingResponse4; else loading4"
               >
                  <table fxFlex="100" mat-table #table [dataSource]="this.shipsAvoidRunner">
                     <ng-container matColumnDef="shipId">
                        <th mat-header-cell *matHeaderCellDef>Barco</th>
                        <td mat-cell *matCellDef="let row">{{ row.ship | titlecase }}</td>
                     </ng-container>
                     <ng-container matColumnDef="runner">
                        <th mat-header-cell *matHeaderCellDef>Derrotero</th>
                        <td mat-cell *matCellDef="let row">{{ row.runner }}</td>
                     </ng-container>
                     <ng-container matColumnDef="harbour">
                        <th mat-header-cell *matHeaderCellDef>Puerto</th>
                        <td mat-cell *matCellDef="let row">{{ row.harbour }}</td>
                     </ng-container>
                     <ng-container matColumnDef="estimatedDate">
                        <th mat-header-cell *matHeaderCellDef>Fecha estimada de llegada</th>
                        <td mat-cell *matCellDef="let row">
                           {{ row.estimatedDate | date: 'dd/MM/yyyy HH:mm' }}
                        </td>
                     </ng-container>

                     <tr
                        mat-header-row
                        *matHeaderRowDef="['shipId', 'runner', 'harbour', 'estimatedDate']"
                     ></tr>
                     <tr
                        mat-row
                        *matRowDef="
                           let row;
                           columns: ['shipId', 'runner', 'harbour', 'estimatedDate']
                        "
                     ></tr>
                  </table>
               </div>
            </div>
         </mat-expansion-panel>
         <!-- ¿Cuántos barcos llegaron a un determinado puerto? -->
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <span class="text-primary-darker">
                     <b>5-</b> ¿Qué fecha y qué barcos pasaron por ciertos bancos de pesca?
                  </span>
               </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
               <mat-label>First name</mat-label>
               <input matInput />
            </mat-form-field>

            <mat-form-field>
               <mat-label>Age</mat-label>
               <input matInput type="number" min="1" />
            </mat-form-field>
         </mat-expansion-panel>
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <span class="text-primary-darker">
                     <b>6-</b> ¿Cuántos barcos cruzaron la latitud -33?
                  </span>
               </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
               <mat-label>First name</mat-label>
               <input matInput />
            </mat-form-field>

            <mat-form-field>
               <mat-label>Age</mat-label>
               <input matInput type="number" min="1" />
            </mat-form-field>
         </mat-expansion-panel>
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  <span class="text-primary-darker">
                     <b>7-</b> ¿Que barcos están consumiendo más combustible de lo debido?
                  </span>
               </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column">
               <div fxLayoutAlign="center stretch">
                  <button mat-raised-button (click)="onComprobarConsumo()">Buscar</button>
               </div>
               <div
                  fxFlex="100"
                  fxLayout="column"
                  *ngIf="shipsOverConsumption.length > 0 && !this.loadingResponse7; else loading7"
               >
                  <table fxFlex="100" mat-table #table [dataSource]="this.shipsOverConsumption">
                     <ng-container matColumnDef="shipId">
                        <th mat-header-cell *matHeaderCellDef>Barco</th>
                        <td mat-cell *matCellDef="let row">{{ row.id | titlecase }}</td>
                     </ng-container>
                     <ng-container matColumnDef="averageConsumption">
                        <th mat-header-cell *matHeaderCellDef>Consumo promedio</th>
                        <td mat-cell *matCellDef="let row">{{ row.averageConsumption }}</td>
                     </ng-container>
                     <ng-container matColumnDef="actualConsumption">
                        <th mat-header-cell *matHeaderCellDef>Consumo actual</th>
                        <td mat-cell *matCellDef="let row">
                           {{ row.actualConsumption | number: '.1-2' }}
                        </td>
                     </ng-container>
                     <tr
                        mat-header-row
                        *matHeaderRowDef="['shipId', 'averageConsumption', 'actualConsumption']"
                     ></tr>
                     <tr
                        mat-row
                        *matRowDef="
                           let row;
                           columns: ['shipId', 'averageConsumption', 'actualConsumption']
                        "
                     ></tr>
                  </table>
               </div>
            </div>
         </mat-expansion-panel>
      </mat-accordion>
   </div>
</div>

<ng-template #loading1>
   <div *ngIf="this.loadingResponse1" fxFlex="100" fxLayoutAlign="center stretch">
      <app-spinner></app-spinner>
   </div>
</ng-template>

<ng-template #loading4>
   <div *ngIf="this.loadingResponse4" fxFlex="100" fxLayoutAlign="center stretch">
      <app-spinner></app-spinner>
   </div>
</ng-template>

<ng-template #loading7>
   <div *ngIf="this.loadingResponse7" fxFlex="100" fxLayoutAlign="center stretch">
      <app-spinner></app-spinner>
   </div>
</ng-template>
