// Custom palette (http://mcg.mbitson.com)
$blueTeal: (
   50: #ebf1f0,
   100: #e5eeea,
   200: #d3e3dc,
   300: #c1d7ce,
   400: #b7d3c8,
   500: #a7c6b9,
   600: #9fc0b2,
   700: #96b9aa,
   800: #8cb1a2,
   900: #7ca493,
   A100: #ffffff,
   A200: #f8fffc,
   A400: #c5ffe6,
   A700: #acffdb,
   contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
   ),
);

$orangeTiger: (
   50: #fdf1e2,
   100: #f9dbb7,
   200: #f5c487,
   300: #f1ac56,
   400: #ee9a32,
   500: #eb880e,
   600: #e9800c,
   700: #e5750a,
   800: #e26b08,
   900: #dd5804,
   A100: #ffffff,
   A200: #ffe0d1,
   A400: #ffbe9e,
   A700: #ffad85,
   contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
   ),
);
