<div class="content">
   <!-- General Container -->
   <mat-sidenav-container>
      <!-- Sidenav left -->
      <mat-sidenav
         #snav
         style="width: 210px;"
         [mode]="mode"
         [opened]="opened"
         [fixedInViewport]="'true'"
      >
         <app-side-nav></app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
         <mat-toolbar
            fxLayoutAlign="space-between center"
            class="position-sticky mat-toolbar-rigth"
         >
            <button mat-icon-button fxHide="true" fxShow.lt-md (click)="snav.toggle()">
               <mat-icon>menu</mat-icon>
            </button>
            <!-- <span fxFlexOffset="2" fxFlex="58">Administration Dashboard</span> -->
            <div fxHide="true" fxShow.gt-sm></div>
            <span fxHide="true" fxShow.gt-sm>{{ this.message }}</span>
            <div>
               <button mat-icon-button [matMenuTriggerFor]="menuNotifications">
                  <mat-icon matBadge="4" matBadgeColor="warn">notifications_none</mat-icon>
               </button>
            </div>
            <!-- <img
               style="width: 70px;
            height: auto;"
               src="./../../../assets/logos/expertaArt.svg"
            /> -->
         </mat-toolbar>
         <div class="m-3">
            <router-outlet></router-outlet>
         </div>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>

<mat-menu #menuNotifications="matMenu">
   <button mat-menu-item *ngFor="let new of news | slice: 0:3" (click)="onClickNew(new)">
      <div class="text-secondary-darker" [innerHTML]="new.text"></div>
   </button>
   <button fxLayoutAlign="center stretch" mat-menu-item (click)="router.navigate([routes.NEWS])">
      <div class="text-primary">Ver todas</div>
   </button>
</mat-menu>
